body{
	background-color: #b30000;
	font-family: Century Gothic;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.wrapper{
	background-color: white;
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
}
.header{
	padding: 20px;
}
.header img{
	margin-left: 150px;
	margin-top: -30px;
}

.nav{
	margin-top: -20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #b30000;
}
.nav ul{
   margin: 0 px;
   padding: 10px 0;
   border: black;
   box-shadow: #b30000;
}
.nav ul li{
   list-style-type: none;
   display: inline-block;

}
.nav ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
	padding: 20px;
}
.nav ul li a:hover{
	color: gold;
	border: 1px solid black;
	border-radius: 10px;
}
.main{
	min-height: 500px;
}
.left-side-bar{
	width: 190px;
    float: left;
    border:1px solid black;
    min-height: 50px;
    margin: 10px 10px 10px 0;
}
.left-side-bar h2{
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	color: maroon;
}
.left-side-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.left-side-bar ul li{
	margin: 0;
	text-align: center;
	border-bottom: 1px solid white;

}
.left-side-bar ul li a{
	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	font-weight: bold;
	color: white;
	background-color: maroon;
}
.left-side-bar ul li a:hover{
	color: gold;
}
.content{
	width: 550px;
	float: left;
	min-height: 500px;
	margin: 10px;
}
.content h1{
	padding: 0;
	margin: 0;
	color: maroon;
	font-size: 30px;
	border-bottom: 1px dotted black;
}
.content h2{
	color: orange;

}
.content p{
	text-align: justify;
	line-height: 1.5;
}
.right-side-bar{
	width: 180px;
	float:right;
	border: 1px solid black;
	min-height: 50px;
	margin: 10px 0 10px 10px;
}
.right-side-bar ul{
	margin: 0;
	padding: 20px;
}
.right-side-bar ul li{
	list-style-type: none;
}
.right-side-bar ul li img{
	width: 100%;
}
.footer{
	clear: both;
	border-top: 1px solid black;
	padding: 10px;
	text-align: center;

}
.footer p{
	font-weight: bold;

}
.footer img{
	padding: 0;
	margin: 0;
}
form{
	margin-top: 15px;
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
}